.card {
  height: 300px;
  border-block-color:black;
  border:2px solid;
  margin: 10px;
}
.card img {
  width: 100%;
  height:220px;
}
.icon {
  background-color: rgba(163, 163, 165, 0.205);
  position: absolute;
  right: 10%;
  top: 8%;
  line-height: 0;
  z-index: 3;
}