.CButton {
  height: 40px;
  appearance: none;
  background-color: transparent;
  padding: 10px 50px 10px 10px;
  margin: 0;
  max-width: 250px;
  min-width: 80px;
  width: 100%;
  border-width: 1.5px;
  cursor: inherit;
  line-height: inherit;
}

.plus {
  position: absolute;
  margin-top: 8px;
  margin-left: -20px;
  display: inline-block;
}

.cbutton-text {
  position: absolute;
  margin-left: 10px;
  margin-top: 4px;
}