@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.stars-container {
  display: inline-grid;
  font-family: 'Jua', sans-serif;
  color: black;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.stars {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.starsoverlap {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: hidden;
}
