.reviewtile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto auto auto auto 1fr;
  grid-template-areas:
    "stars . . userdate"
    "title title title title"
    "titlewrap titlewrap titlewrap titlewrap"
    "body body body body"
    "recommend recommend recommend recommend"
    "response response response response"
    "helpfulness helpfulness helpfulness helpfulness";
}
.review-title {
  grid-area: title;
}
.review-stars {
  grid-area: stars;
  align-self: center;
}
.review-userdate {
  grid-area: userdate;
  align-self: center;
  justify-self: end;
}
.review-titlewrap {
  grid-area: titlewrap;
}
.review-body {
  grid-area: body;
}
.review-recommend {
  grid-area: recommend;
}
.review-response {
  grid-area: response;
  background-color: lightgray;
}
.review-helpfulness {
  grid-area: helpfulness;
}