.featured {
    display: inline-block;
    align-content: center;
}

.featured-image {
    display: inline-block;
    min-width: 98%;
    max-height: 500px;
    max-width: 600px;
}

/* Probably want to z-stack these correctly */
.expand-button {
    margin-left: -30px;
    margin-top: -5px;
    position: absolute;
    z-index: 100;
    color: white;
    display: inline-block;
}