.dot {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    display: inline-block;
}

.selected {
    position: absolute;
    margin-left: 0px;
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    animation-name: fadein;
    animation-duration: 1s;
}

.style-div {
    z-index: 100;
}

.stylesgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}
  